/Virus/dist/
Virus/nbproject/private/private.xml
Virus/build/classes/virus/util/Jugador.class
Virus/build/classes/virus/Controller/IngresoController.class
Virus/build/classes/virus/Controller/JuegoController.class
Virus/build/built-jar.properties
